<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>This is login webpage</div>

    <form action="/login" method="POST" id="loginForm">
        <div class="input-box">
            <input id="userName" type="text" placeholder="아이디를 입력하세요.">
            <label for="username"></label>
        </div>

        <div class="input-box">
            <input id="passWord" type="password"  placeholder="비밀번호를 입력하세요.">
            <label for="password"></label>
        </div>
        <input type="submit" value="Log in">
    </form>
    
        <form action="/register">
            <button type="submit">회원가입</button>
        </form>
    
    <script src="static/loginJS.js"></script>

</body>
</html>