<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous"> -->
    
    <!-- Bulma CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <title>login</title>
</head>
<style>
    .box {
        margin: auto;
        margin-top: 200px;
        /* background-color: #eafff5; */
    }

    .is-size-3 {
        font-weight: 500;
        color: #3EA272;
    }
    .button {
        background-color: #3EA272;
        color: #eafff5;
        border-color: #eafff5;
    }

</style>
<body>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
               {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <div class="box column is-one-third">
        <div class="is-size-3 block">LOGIN</div>
        <form action="/login" method="POST">
            <div class="field">
                <p class="control has-icons-left">
                    <input class="input is-primary" id="username" type="text" name="username" placeholder="아이디를 입력하세요.">
                    <label for="username"></label>
                    <span class="icon is-small is-left">
                        <i class="fas fa-user"></i>

                    </span>
                </p>
            </div>
            <div class="field">
                <p class="control has-icons-left">
                    <input class="input is-primary" id="password" type="password" name="password" placeholder="비밀번호를 입력하세요.">
                    <label for="password"></label>
                    <span class="icon is-small is-left">
                    <i class="fas fa-lock"></i>
                    </span>
                </p>
            </div>
            <input class="button" type="submit" value="로그인">
            <a class="button is-success is-light" href="/register">회원가입</a>
        </form>
    </div>
</body>
</html>