<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>This is login webpage</div>
    <p>
    </p>

    <div class="login-wrapper">
        <h2>Login</h2>
        <form method="post" action="/login" id="login-form">
            <input type="text" name="userName" placeholder="Email">
            <input type="password" name="userPassword" placeholder="Password">
            <label for="remember-check">
                <input type="checkbox" id="remember-check">아이디 저장하기
            </label>
            <input type="submit" value="Login">
        </form>
        <button onclick="" action="/register">Register</button>

    </div>



    <div>봇</div> : {{bot_answer}}
</body>
</html>